:root {
    /* colores que vamos a colocar en nuestro proyecto
    mobile 375px*/
    /*Theme One (1)*/
    --background-one-main: hsl(222, 26%, 31%);
    --background-one-togglekeypad: hsl(223, 31%, 20%);
    --background-one-screen: hsl(224, 36%, 15%);
    --key-one-delreset: hsl(225, 21%, 49%);
    --key-one-delresetshadow: hsl(224, 28%, 35%);
    --key-one-red: hsl(6, 63%, 50%);
    --key-one-redshadow: hsl(6, 70%, 34%);
    --key-one-white: hsl(30, 25%, 89%);
    --key-one-whiteshadow: hsl(28, 16%, 65%);
    --numbers-one-black: hsl(221, 14%, 31%);
    --numbers-one-white: white;
    /*Theme Two (2)*/
    --background-two-main: hsl(0, 0%, 90%);
    --background-two-togglekeypad: hsl(0, 5%, 81%);
    --background-two-screen: hsl(0, 0%, 93%);
    --key-two-delreset: hsl(185, 42%, 37%);
    --key-two-delresetshadow: hsl(185, 58%, 25%);
    --key-two-orange: hsl(25, 98%, 40%);
    --key-two-orangeshadow: hsl(25, 99%, 27%);
    --key-two-numbers: hsl(45, 7%, 89%);
    --key-two-numbershadow: hsl(35, 11%, 61%);
    --numbers-two-dark: hsl(60, 10%, 19%);
    /*Theme Three (3)*/
    --background-three-main: hsl(268, 75%, 9%);
    --background-three-togglekeypadscreen: hsl(268, 71%, 12%);
    --key-three-delreset: hsl(281, 89%, 26%);
    --key-three-delredetshadow: hsl(285, 91%, 52%);
    --key-three-toggle: hsl(176, 100%, 44%);
    --key-three-toggleshadow: hsl(177, 92%, 70%);
    --key-three-numbers: hsl(268, 47%, 21%);
    --key-three-numbersshadow: hsl(290, 70%, 36%);
    --numbers-three-yellow: hsl(52, 100%, 62%);
    --numbers-three-dark: hsl(198, 20%, 13%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

/*FIRST THEME*/

body {
    background: var(--background-one-main);
}

.section-header h1 {
    margin: 2.5rem 4rem;
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    color: var(--numbers-one-white);
}

.section-header h3 {
    display: inline-block;
    position: relative;
    left: 6rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--numbers-one-white);
}

.section-header-theme {
    position: relative;
    display: inline-block;
    left: 9rem;
}

.section-header-theme  nav li{
    margin: 0.5rem;
    display: inline;
    color: var(--numbers-one-white);
    font-size: 1.2rem;
    list-style: none;
}

.seccion-header-bottom{
    height: 2rem;
    width: 5.8rem;
    margin-top: 0.5rem;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.seccion-header-bottom input {
    height: 2rem;
    width: 5.8rem;
    border-radius: 50px;
    border: none;
    outline: none;
    background: var(--background-one-togglekeypad);
}

.section-input-outcome {
    color: white;
    text-align: center;
    cursor: text;
}

.section-input-outcome input {
    height: 10rem;
    width: 30rem;
    padding: 2rem;
    position: relative;
    font-family: 'Spartan', sans-serif;
    font-size: 3rem;
    text-align: right;
    color: white;
    background: var(--background-one-screen);
    border-radius: 5px;
    border: none;
    outline: none;
    
}

.section-main-calc {
    height: 44rem;
    width: 30rem;
    margin: 3.5rem;
    padding: 2rem;
    position: relative;
    background: var(--background-one-screen);
    border-radius: 5px;
    
}

.div-row-buttons {
    height: 8rem;
    width: 26rem;
    display: block;
    text-align: center;
}

.div-button-calc {
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
    background: var(--key-one-white);
    box-shadow: 0 0.2rem 0 0 var(--key-one-whiteshadow);
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.div-button-calc p {
    padding-top: 1.5rem;
    color: var(--numbers-one-black);
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

#div-button-del {
    color: white;
    background: var(--key-one-delreset);
    box-shadow: 0 0.5rem 0 0 var(--key-one-delresetshadow);
}

#div-button-del p {
    
}

.div-button-reset {
    height: 5rem;
    width: 10.8rem;
    margin:1rem;
    padding-top: 1.5rem;
    display: inline-block;
    border-radius: 5px;
    background: var(--key-one-delreset);
    box-shadow: 0 0.5rem 0 0 var(--key-one-delresetshadow);
    cursor: pointer;
}

.div-button-reset p{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    
}

.div-button-equal {
    height: 5rem;
    width: 10.8rem;
    margin:1rem;
    padding-top: 1.5rem;
    display: inline-block;
    border-radius: 5px;
    background: var(--key-one-red);
    box-shadow: 0 0.5rem 0 0 var(--key-one-redshadow);
    cursor: pointer;
}

.div-button-equal p{
    font-size: 1.5rem;
    color: white;
    text-align: center;

}

/*A partir de acá se puede empezar a agregar el código CSS para agregar estilo al HTML*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}